*
	{
	border : 	0;
	padding :	0;
	margin :	0;
	}

body
	{
	width : 600px;
	margin: 10px auto;
	font-family: "Roboto";
	background-color : #EEE;
	/*background-image: url("https://picsum.photos/1024/1024");*/
	background-repeat: no-repeat;
	background-size: cover;
	}

article, footer
	{
	background-color : #FFF;
	}

footer
	{
	margin : 1em;
	}
