/* Main styling components */
body {
  font-family: "Segoe Ui";
  margin: 0;
}

.spaced {
  letter-spacing: .2rem;
}

.line_height {
  line-height: 2.5;
}

.word_spacing {
  word-spacing: -.4ch;
}

.hidden {
  visibility: hidden;;
}

/* header */
#mainHeader {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 8px;
}

#mainHeader img {
  width: 96px;
  height: auto;
}

#mainHeader h1 {
  font-weight: bold;
  font-size: 40px;
  margin: 0;
}

#mainHeader h2 {
  margin: 0;
  font-size: 24px;
}

/* Navigation */
.navbar {
  position: 0;
  position: sticky;
}

.navbar ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #213d23;
  position: sticky;
  top: 0;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #0000004d;
}

#hamburgerLabel {
  display: inline-block;
  color: white;
  background: #a02620;
  font-style: normal;
  font-size: 1.2em;
  padding: 10px;
}

#burgeritems > li {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-top: 1px solid #333;
}

#burgeritems > li {
  display: none;
}

#burgeritems > input:checked ~ .navbarItem {
  display: block;
}

#hamburgerIcon,
#hamburgerLabel {
  display: none;
}

/* Content */

#mainContent {
  margin-left: 10%;
  margin-right: 10%;
  height: 100%;
  width: 80%;
}

#contactArticle {
  grid-area: article;
}

/* Content items*/

#mainVideo {
  width: 100%;
  justify-content: center;
}

#mainVideo h1 {
  font-size: 24px;
}

#mainVideo video {
  width: 384px;
  height: 384px;
  border-style: solid;
  border-color: #5a5a5a;
  border-width: 3px;
}

/* product card */
.productCard {
  display: flex;
  border-style: solid;
  border-color: #5a5a5a;
  border-radius: 8px;
  margin-top: 16px;
}

.productCard article {
  margin: 16px;
  padding: 16px;
}

.productCard figure {
  margin: 16px;
}

.productCard > figure > a > img {
  width: 256px;
}

.productCard > figure > footer {
  background-color: navy;
  padding: 8px;
}

.productCard > figure > footer > a {
  color: white;
  text-decoration: none;
}

/* grid */
#contentGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas:
    "two one three"
    "five one three"
    "five one four"
    "five one four"
    "five six six";
  margin: 8px;
}

#contentGrid article {
  border: 1px solid #ccc;
  margin: 8px;
  padding: 8px;
}

#gridItem1 {
  grid-area: one;
}

#gridItem2 {
  grid-area: two;
}

#gridItem3 {
  grid-area: three;
}

#gridItem4 {
  grid-area: four;
}

#gridItem5 {
  grid-area: five;
}

#gridItem6 {
  grid-area: six;
}

#eusolar_grid {
  margin-left: 10%;
  margin-right: 10%;
  height: 100%;
  width: 80%;
  display: grid;
  grid-template-areas:
    "article article"
    "eu_table products";
}

.eu_article {
  grid-area: article;
}

.eu_table {
  grid-area: eu_table;
}

.eu_products {
  grid-area: products;
}

#productPage h1 {
  font-size: 24px;
}

.reasonPage {
  padding: 16px;
}

.reasonPage h1 {
  font-size: 24px;
}

#mainProducts {
  display: flex;
  flex-wrap: wrap;
}

.copyrightFooter {
  background-color: #213d23;
  color: white;
  padding: 14px 16px;
  margin-top: 16px;
}

#cookie {
  width: 150px;
  height: 50px;
  position: fixed;
  bottom: 0px;
  right: 0px;
  background-color: #ffaa0080;
  color: #fff;
  padding: 8px;
}



#articleList {
  display: flex;
}

#eu_articleList {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

#eu_articleList article {
  margin: 16px;
}

#contact_articleList {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

#contact_articleList article {
  margin: 16px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card img {
  width: 100%;
}

.card a {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #213d23;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card a:hover {
  opacity: 0.7;
}

.link:active {
  color: #003f7a;
}

.link:link {
  color: #00ccff;
}

.link:visited {
  color: #004974;
}

.link:hover {
  color: #006eff;
}


#euroTable {
  border-collapse: collapse;
  margin-top: 14px;
}

#euroTable td,
#euroTable th {
  border: 1px solid #dddddd;
  padding: 8px;
}

#euroTable tr > th {
  background-color: #213d23;
  color: white;
}

#tableFooter {
  width: 100%;
  background-color: #213d23;
  color: white;
  padding: 8px;
}

#products_aside {
  display: flex;
  flex-direction: column;
}

#userForm {
  padding: 16px;
  display: flex;
  flex-direction: column;
}

#userForm textarea {
  resize: none;
}

#userForm fieldset > input[type="text"],
#userForm fieldset > textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 16px;
}

#userForm fieldset > input[type="email"],
#userForm fieldset > textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 16px;
}

#userForm fieldset > input[type="submit"] {
  background-color: #213d23;
  color: white;
  padding: 8px 16px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#indexFlexContainer {
  display: flex;
  flex-direction: column;
}

#indexFlexContainer > :nth-child(1) {
  order: 1;
}
#indexFlexContainer > :nth-child(2) {
  flex-shrink: 3;
  order: 2;
}
#indexFlexContainer > :nth-child(3) {
  order: 3;
  float: right;
}

#howsolarFlexContainer {
  display: flex;
  flex-direction: column;
}

#howsolarFlexContainer > :nth-child(1) {
  order: 1;
}

#howsolarFlexContainer > :nth-child(2) {
  order: 2;
}

#euroTable tbody > tr > :nth-child(2) {
  display: none;
}

@media (max-width: 1179px) {
  #euroTable tbody > tr > :nth-child(3) {
    display: none;
  }

  #euroTable tbody > tr > :nth-child(4) {
    display: none;
  }

  #eusolar_grid {
    grid-template-areas:
      "article article"
      "eu_table eu_table"
      "products products";
  }

  .productCard {
    flex-direction: row-reverse;
  }

  #articleList > :nth-child(3) {
    display: none;
  }

  #mainProducts {
    flex-direction: column-reverse;
  }
  #indexFlexContainer > :nth-child(1) {
    order: 2;
  }

  #indexFlexContainer > :nth-child(2) {
    order: 3;
  }

  #indexFlexContainer > :nth-child(3) {
    order: 1;
  }

  #gridItem4 {
    display: none;
  }

  #contentGrid {
    grid-template-columns: auto auto;
    grid-template-areas:
      "one   two"
      "three five"
      "six   six";
  }
}

@media (max-width: 480px) {
  #euroTable tbody > tr > :nth-child(5) {
    display: none;
  }

  #euroTable tbody > tr > :nth-child(6) {
    display: none;
  }

  #articleList > :nth-child(3) {
    display: block;
  }

  #articleList {
    display: table-column;
  }

  #gridItem6 {
    display: none;
  }

  #contentGrid {
    grid-template-columns: auto auto;
    grid-template-areas:
      "five  five"
      "three three"
      "two   two"
      "one   one";
  }

  #mainVideo {
    display: none;
  }